body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
    background: #1C2833;
    color: white;
    transition-duration: 0.5s;
}

.titleBar {
    margin: 0;
    padding: 0;
    height: calc(20vh - 10px);
}

.title {
    line-height: 20vh;
    text-align: center;
    height: calc(20vh - 10px);
    padding: 0;
    margin: 0;
    top: 0;
    font-size: 10vh;
}

.teamOne {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: calc(45vh + 10px);
    padding: 10px;
    width: calc(50vw - 20px);
    height: calc(35vh - 20px);
}

.teamTwo {
    text-align: center;
    position: fixed;
    right: 0;
    bottom: calc(45vh + 10px);
    padding: 10px;
    width: calc(50vw - 20px);
    height: calc(35vh - 20px);
}

.teamThree {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: calc(10vh + 10px);
    padding: 10px;
    width: calc(50vw - 20px);
    height: calc(35vh - 20px);
}

.teamFour {
    text-align: center;
    position: fixed;
    right: 0;
    bottom: calc(10vh + 10px);
    padding: 10px;
    width: calc(50vw - 20px);
    height: calc(35vh - 20px);
}

.footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
}

.submit {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0;
    background: #34495E;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 3vh;
    width: 30vw;
    outline: none;
    transition-duration: 0.5s;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.submit:hover {
    background-color: white;
    color: #34495E;
}

input {
    background: #34495E;
    border: solid #212F3C 1px;
    outline: none;
    text-align: center;
    color: white;
    height: 5vh;
    width: 30vw;
    font-size: 5vh;
    font-family: monospace;
    font-weight: bold;
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input:hover {
    background-color: white;
    color: #34495E;
}

input:focus {
    background-color: white;
    color: #34495E;
}

select {
    background: #34495E;
    color: white;
    border: solid #212F3C 1px;
    outline: none;
    height: 5vh;
    width: auto;
    font-size: 4vh;
    font-family: monospace;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

select:hover {
    background-color: white;
    color: #34495E;
}

option {
    font-weight: bold;
}

.teamInputs2 {
    font-size: 4vh;
    margin-top: 0;
    margin-bottom: 2vh;
}

.teamInputs1 {
    font-size: 4vh;
}
