body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: verdana;
    font-weight: bold;
    background: #1C2833;
    color: white;
    transition-duration: 0.5s;
}

#teamOne {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(50vw - 2px);
    height: calc(50vh - 2px);
    border-right: solid white 2px;
    border-bottom: solid white 2px;
}

#teamTwo {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(50vw - 2px);
    height: calc(50vh - 2px);
    border-left: solid white 2px;
    border-bottom: solid white 2px;
}

#teamThree {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(50vw - 2px);
    height: calc(50vh - 2px);
    border-right: solid white 2px;
    border-top: solid white 2px;
}

#teamFour {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(50vw - 2px);
    height: calc(50vh - 2px);
    border-left: solid white 2px;
    border-top: solid white 2px;
}

.team {
    text-align: center;
}

.teamName {
    font-size: 8vh;
    margin: 0;
    margin-top: 1.8vh;
}

.score {
    position: absolute;
    font-size: 12vh;
    margin: 0;
    margin-top: 5vh;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    bottom: 15vh;
    width: 100%;
}

.addScore {
    font-size: 6vh;
    border: 0;
    background: #34495E;
    color: white;
    outline: none;
    transition-duration: 0.5s;
    border-radius: 4px;
    width: 7vw;
    height: 8vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.addScore:hover {
    background-color: white;
    color: #34495E;
}

.buttonContainer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 2vh;
}

#negative {
    background-color: white;
    color: red;
}

#negative:hover {
    background-color: red;
    color: white;
}
